WSRestCooperagro/src/conf/xml-resources/web-service-references/WsMovimientosCygnus/wsdl/10.10.30.93/WSMovimientosCygnus/WsMovimientosCygnus.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="WSMovimientosCygnus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="WSMovimientosCygnus" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="WSMovimientosCygnus">
      <s:element name="Movimientos_Ahorros">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ps_identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ps_cod_cuenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ps_valor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ps_tipo_tran" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ps_referenciacanal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ps_tipo_canal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Movimientos_AhorrosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Movimientos_AhorrosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Pago_Creditos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ps_identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ps_cod_cuenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ps_cod_credito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ps_identif_credito" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ps_valor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ps_tipo_tran" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ps_referenciacanal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ps_tipo_pago" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ps_tipo_canal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Pago_CreditosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Pago_CreditosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Deuda_total">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ps_identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ps_cod_credi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Deuda_totalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Deuda_totalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CuotasAtrasadas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ps_cod_credito" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CuotasAtrasadasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CuotasAtrasadasResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Movimientos_AhorrosSoapIn">
    <wsdl:part name="parameters" element="tns:Movimientos_Ahorros" />
  </wsdl:message>
  <wsdl:message name="Movimientos_AhorrosSoapOut">
    <wsdl:part name="parameters" element="tns:Movimientos_AhorrosResponse" />
  </wsdl:message>
  <wsdl:message name="Pago_CreditosSoapIn">
    <wsdl:part name="parameters" element="tns:Pago_Creditos" />
  </wsdl:message>
  <wsdl:message name="Pago_CreditosSoapOut">
    <wsdl:part name="parameters" element="tns:Pago_CreditosResponse" />
  </wsdl:message>
  <wsdl:message name="Deuda_totalSoapIn">
    <wsdl:part name="parameters" element="tns:Deuda_total" />
  </wsdl:message>
  <wsdl:message name="Deuda_totalSoapOut">
    <wsdl:part name="parameters" element="tns:Deuda_totalResponse" />
  </wsdl:message>
  <wsdl:message name="CuotasAtrasadasSoapIn">
    <wsdl:part name="parameters" element="tns:CuotasAtrasadas" />
  </wsdl:message>
  <wsdl:message name="CuotasAtrasadasSoapOut">
    <wsdl:part name="parameters" element="tns:CuotasAtrasadasResponse" />
  </wsdl:message>
  <wsdl:portType name="WsMovimientosCygnusSoap">
    <wsdl:operation name="Movimientos_Ahorros">
      <wsdl:input message="tns:Movimientos_AhorrosSoapIn" />
      <wsdl:output message="tns:Movimientos_AhorrosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Pago_Creditos">
      <wsdl:input message="tns:Pago_CreditosSoapIn" />
      <wsdl:output message="tns:Pago_CreditosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Deuda_total">
      <wsdl:input message="tns:Deuda_totalSoapIn" />
      <wsdl:output message="tns:Deuda_totalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CuotasAtrasadas">
      <wsdl:input message="tns:CuotasAtrasadasSoapIn" />
      <wsdl:output message="tns:CuotasAtrasadasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsMovimientosCygnusSoap" type="tns:WsMovimientosCygnusSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Movimientos_Ahorros">
      <soap:operation soapAction="WSMovimientosCygnus/Movimientos_Ahorros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pago_Creditos">
      <soap:operation soapAction="WSMovimientosCygnus/Pago_Creditos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deuda_total">
      <soap:operation soapAction="WSMovimientosCygnus/Deuda_total" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CuotasAtrasadas">
      <soap:operation soapAction="WSMovimientosCygnus/CuotasAtrasadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsMovimientosCygnusSoap12" type="tns:WsMovimientosCygnusSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Movimientos_Ahorros">
      <soap12:operation soapAction="WSMovimientosCygnus/Movimientos_Ahorros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pago_Creditos">
      <soap12:operation soapAction="WSMovimientosCygnus/Pago_Creditos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deuda_total">
      <soap12:operation soapAction="WSMovimientosCygnus/Deuda_total" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CuotasAtrasadas">
      <soap12:operation soapAction="WSMovimientosCygnus/CuotasAtrasadas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsMovimientosCygnus">
    <wsdl:port name="WsMovimientosCygnusSoap" binding="tns:WsMovimientosCygnusSoap">
      <soap:address location="http://10.10.30.93/WSMovimientosCygnus/WsMovimientosCygnus.asmx" />
    </wsdl:port>
    <wsdl:port name="WsMovimientosCygnusSoap12" binding="tns:WsMovimientosCygnusSoap12">
      <soap12:address location="http://10.10.30.93/WSMovimientosCygnus/WsMovimientosCygnus.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>